{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}

    <link href="/css/main.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <h2>Commits Importer!</h2>
    <br>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">Hash</th>
            <th scope="col">Committer Name</th>
            <th scope="col">URL</th>
        </tr>
        </thead>
        <tbody>
        {% for key,commit in commits %}
            <tr  class="{% if commit.hashEndsInNumber %}has-background{% endif %}">
                <td>{{commit.hash}}</td>
                <td>{{commit.committerName}}</td>
                <td>
                    <a href="{{commit.url}}">Link</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}